<div class="flex flex-col h-screen">
  <div class="flex flex-1 flex-row justify-center bg-blue-darkest">
    <div
      class="flex flex-col justify-center"
    >
      {{adm-hero-banner
        name="Adam Gribble" 
        taglineParts=taglineParts
        email="only-one@adamgribble.com"
      }}
    </div>
  </div>
  <div class="flex sm:flex-col md:flex-row">
    {{#adm-checklist-container color="blue"}}
      {{adm-checklist title="Tools/Platforms" items=tools}}
    {{/adm-checklist-container}}

    {{#adm-checklist-container color="green"}}
      {{adm-checklist title="Languages" items=languages}}
    {{/adm-checklist-container}}

    {{#adm-checklist-container color="orange"}}
      {{adm-checklist title="Frameworks" items=frameworks}}
    {{/adm-checklist-container}}

    {{#adm-checklist-container color="red"}}
      {{adm-checklist title="Web Design" items=web}}
    {{/adm-checklist-container}}
  </div>
</div>