<h4 class={{headerClass}}>{{title}}</h4>
<ul
  class="flex flex-row flex-wrap content-start h-full list-reset"
>
  {{#each items as |item|}}
    <li class={{contentItemClass}}>
      <span class={{contentItemLinkClass}}>{{item}}</span>
    </li>
  {{/each}}
</ul>